[Unit]
Description=nDPId Service on interface %i
After=ndpisrvd.service
Requires=ndpisrvd.service

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'test -r "/usr/local/etc/nDPId/%i.conf" || cp -v "/usr/local/share/nDPId/ndpid.conf.example" "/usr/local/etc/nDPId/%i.conf"'
ExecStart=/usr/local/sbin/nDPId -f /usr/local/etc/nDPId/%i.conf -i %i -u ndpid -c /run/nDPIsrvd/collector
Restart=on-failure
Environment="NDPID_STARTED_BY_SYSTEMD="

[Install]
WantedBy=multi-user.target
