[Unit]
Description=nDPIsrvd Service
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'test -r "/usr/local/etc/nDPId/nDPIsrvd.conf" || cp -v "/usr/local/share/nDPId/ndpisrvd.conf.example" "/usr/local/etc/nDPId/nDPIsrvd.conf"'
ExecStartPre=/bin/sh -c 'mkdir -p /run/nDPIsrvd && chown root:root /run/nDPIsrvd && chmod 0775 /run/nDPIsrvd'
ExecStopPost=/bin/sh -c 'rm -f /run/nDPIsrvd/collector /run/nDPIsrvd/distributor'
ExecStart=/usr/local/bin/nDPIsrvd -f /usr/local/etc/nDPId/nDPIsrvd.conf -u ndpisrvd -c /run/nDPIsrvd/collector -s /run/nDPIsrvd/distributor -G ndpid:ndpisrvd-distributor
Restart=on-failure
Environment="NDPID_STARTED_BY_SYSTEMD="

[Install]
WantedBy=multi-user.target
